data-engineering/DE_projects/2024_p1_retail-data-engineering/scripts/data_generation/Src_data_Creation/BULK_transactions_extract_20250226.zip
/data-engineering/DE_projects/2025_p2_Real-time_Stock_Price_Analytics/scripts/Real-time_Stock_Price_Analytics/airflow-docker
/data-engineering/tools/Apache-Airflow/airflow-docker
